body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #663300;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: justify;
}

section h2 {
    text-align: center;
    margin-bottom: 15px;
}

section p {
    margin-bottom: 15px;
}

img {
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    max-width: 100%;
}
